<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}{% endblock %}
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />


	<!-- CSS -->
	<link href="{{ app.request.basepath }}/lib/bootstrap/bootstrap.css" rel="stylesheet">
	<!--<link href="{{ app.request.basepath }}/css/index.css" rel="stylesheet">-->
	<link href="{{ app.request.basepath }}/css/style.css" rel="stylesheet">
	<!-- SCRIPT -->
	<script src="{{ app.request.basepath }}/lib/jquery/jquery-3.1.1.js"></script>
	<script src="{{ app.request.basepath }}/lib/bootstrap/bootstrap.js"></script>
	<script src="{{ app.request.basepath }}/lib/angular/angular.min.js"></script>
	<script src="{{ app.request.basepath }}/lib/script.js"></script>
	<script src="{{ app.request.basepath }}/css/font-awesome/css/font-awesome.min.css"></script>
	<!-- FONT -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">

</head>


<body>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>

				<div class="login-wrap">
					<div class="login-html">
						<input id="tab-1" type="radio" name="tab" class="sign-in" checked>
						<label for="tab-1" class="tab">Sign In</label>
						<input id="tab-2" type="radio" name="tab" class="sign-up">
						<label for="tab-2" class="tab">Sign Up</label>
						
						<div class="login-form">
							<div class="sign-in-htm" >
								{{ render(controller("FOSUserBundle:Security:login")) }}
							</div>

							<div class="sign-up-htm">
								{{ render(controller("FOSUserBundle:Registration:register")) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<div class="navbar-header">
      				<a class="navbar-brand" href="{{ path('homepage') }}">Bouée Corsaire</a>
    			</div>
				<ul class="nav navbar-nav">
					{% if app.user and is_granted('ROLE_ADMIN') %}
    					<li><a href="{{ path('admin') }}">Administration</a></li>
					{% endif %}
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<li><a href="{{ path('service_index') }}">Services</a></li>
					<li><a href="{{ path('besoin_index') }}">Besoins</a></li>
					<li><a href="{{ path('fos_user_profile_show') }}">Mon profil</a></li>
					<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        	<span class="glyphicon glyphicon-user"></span> Bienvenue, {{ app.user.username }} <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
						</ul>
                    </li>
					{% else %}
					<li>
						<button type="button" class="login" data-toggle="modal" data-target="#myModal">Inscription & connexion</button>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	
	{% block body %}{% endblock %} {% block javascripts %}{% endblock %}
	
	<footer class="col-lg-12">
		<div class="plan col-lg-3 col-lg-offset-1">
			<h3>Plan du site</h3>
			<a>Acceuil</a>
			<a>Service</a>
			<a>Besoin</a>
			<a>Mon profil</a>
		</div>
		
		<div class="Social col-lg-3 col-lg-offset-1">
			<h3>Nous suivre</h3>
			<a>facebook</a>			
			<a>Twitter</a>
			<a>Google+</a>
		</div>
		
		<div class="Contact col-lg-3 col-lg-offset-1">
			<h3>Contact</h3>
			<a>Adresse@boueecorsaire.com</a>
			<a>3 rue de l'adresse</a>
			<a>35000 rennes</a>
			<a>Telephone : 0299203010</a>
		</div>
		<div class="Mention col-lg-offset-4 col-lg-8">
			<p>Copyright © 2017 <a>Mentions légales</a> / La bouée corsaire </p>
		</div>
	</footer>
	</body>
</html>