{% extends 'AppBundle::layout.html.twig' %}
{% block body %}

<body>
<h4>Hello, {{ user.username }}</h4>
<h5>Quisque ut varius diam. Proin eget nulla et ipsum condimentum sodales.</h5>
	
<div class="trait"></div>
	
<div class="wrapper">
    <a href="#one" class="btn active">Mes informations</a>
	<a href="#two" class="btn">Messages</a>
    <a href="#three" class="btn">Mes services et besoins</a>

      
      <hr/>
  
  <div class="slides">
      <div class="sld" id="#one">
      <div class="container">
  <h2>Détails du compte</h2>
		  <div class="col-md-6 fr">
    <div class="form-group">
      <label for="nom">Nom: {{ user.nom }}</label>
     
    </div>
	     <div class="form-group">
      <label for="prenom">Prénom: {{ user.prenom }}</label>
    
    </div>
	<div class="form-group">
      <label for="prenom">Nom d'utilisateur: {{ user.username }}</label>
    
    </div>
	     <div class="form-group">
      <label for="pseudo">Email: {{ user.email }}</label>

    </div>
			  </div>
		  <div class="col-md-6 fr">
	<div>
		<div class="form-group">
    		<label for="tel">Adresse: {{ user.addresse }}</label>
		</div>
    </div>
	<div>
		<div class="form-group">
    		<label for="tel">Ville: {{ user.ville }}</label>
		</div>
    </div>
	<div>
		<div class="form-group">
    		<label for="tel">Region: {{ user.region }}</label>
		</div>
    </div>
	<div >
		<div class="form-group">
    		<label for="codepostal">Code postal: {{ user.codePostal }}</label>
		</div>
    </div>
	<div>
		<div class="form-group">
    		<label for="tel">Téléphone: {{ user.telephone }}</label>
		</div>
    </div>
			  </div>
  	<a type="button" class="btn btn-primary btnInfo col-lg-offset-2" href="{{ path('fos_user_profile_edit') }}">Edition de mes informations</a>
	  </div>
	    </div>

      <div class="sld" id="#two">
		 <h2>Votre messagerie</h2>	 
      </div>
      <div class="sld" id="#three">
      	<div class="formulaire">
      	<h2>Formulaire de confirmation de service rendu</h2>
       <form class="search">
      <div class="form-mail ">
        <input type="search" class="input-lg-mail" placeholder="E-mail du contact à qui vous avez rendu service ">
      </div>
       <div class="form-temps">
        <input type="search" class="input-sm" placeholder="Temps en heure">
      </div>
    </form>
       
      <button type="submit" class="btnte btn-primary">Envoyer</button>

    </div>
      <h2>Votre quota de services et besoins</h2>
		  	<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 25%">
    <span class="sr-only">25% Complete (success)</span>
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 57%">
    <span class="sr-only">57% Complete (warning)</span>
  </div>
		  </div>
   <div class="blocs">
		<div class="row">
			<div class="col-md-6">
				<div><h2 class="ser">Vos services</h2></div>
				{% for service in user.services %}
				<div class="serv">
				<div class="temps"> {{service.heure}}h</div>
					<div class="infoser">{{service.title}} <br> {{service.categorie}}</div>
				</div>
				{% endfor %}
				<div>
					<a type="button" class="btn btn-primary btnInfo btnBesoin col-md-offset-3" href="{{ path('service_new') }}">Ajouter un service</a>
				</div>
			</div>
  					
			<div class="col-md-6">
				<div><h2 class="bes">Vos besoins</h2></div>
				{% for besoin in user.besoins %} 
				<div class="besoin">
					<div class="temps"> {{besoin.heure}}h</div>
					<div class="infobes"> {{besoin.title}} <br> {{besoin.categorie}} </div>
				</div>
				{% endfor %}
				
				<a type="button" class="btn btn-primary btnInfo btnBesoin col-md-offset-4" href="{{ path('besoin_new') }}">Ajouter un besoin</a>
			</div>
			</div>
	
	</div>
      </div>
</div>
		</div>

	<script>
		$('.btn').click(function () {
	$('.active').removeClass('active');
    $(this).addClass("active");
});
	</script>

{% endblock %}